assets/
build/
dist/
nbproject/
OpenAL64.dll
lwjgl64.dll
.gradle/2.10/taskArtifacts/outputFileStates.bin
.gradle/2.10/taskArtifacts/cache.properties
.gradle/2.10/taskArtifacts/cache.properties.lock
.gradle/2.10/taskArtifacts/fileHashes.bin
.gradle/2.10/taskArtifacts/fileSnapshots.bin
.gradle/2.10/taskArtifacts/taskArtifacts.bin
jackson-annotations-2.7.0.jar
jackson-databind-2.7.0.jar
jackson-core-2.7.0.jar
